.area {
    -fx-border-color: black;
    -fx-border-width: 2;
}


.area:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-border-color: white;
}

.area:hover {
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
    -fx-border-color: white;
    -fx-view-order: -1;
}

.player0 {
    -fx-background-color: #EE5F4F;
}

.player1 {
    -fx-background-color: #4291D5;
}

.area0 {
    -fx-shape: "M 400 500 C 300 400 300 400 300 350 C 300 300 350 300 350 250 C 500 150 550 200 600 200 C 600 300 650 300 650 450 C 500 450 500 500 400 500 ";
}

.area1 {
    -fx-shape: "M 200 200 C 200 300 250 300 250 450 C 400 400 400 450 500 450 C 500 350 550 350 500 200 C 400 100 400 200 250 100 C 200 150 275 150 200 200 ";
}

.area2 {
    -fx-shape: "M 200 200 C 250 350 200 350 200 450 C 350 400 400 450 450 400 C 450 350 500 350 500 300 C 500 200 500 225 450 100 C 350 50 400 100 300 150 C 225 175 300 300 200 200 ";
}

.area3 {
    -fx-shape: "M 200 200 C 300 300 200 350 200 450 C 350 500 400 400 500 450 C 550 400 500 400 500 350 C 500 200 450 250 450 150 C 300 150 300 200 200 200 ";
}

.area4 {
    -fx-shape: "M 200 200 C 200 300 250 250 250 400 C 250 450 300 450 250 500 C 350 550 350 450 450 500 C 500 350 450 300 450 200 C 350 200 350 150 200 200 ";
}

.area5 {
    -fx-shape: "M 200 200 C 200 300 250 350 200 500 C 300 550 375 500 500 500 C 500 450 700 450 600 300 C 550 200 450 250 450 150 C 400 200 350 150 200 200 ";
}

.area6 {
    -fx-shape: "M 200 200 C 350 250 400 150 500 200 C 400 300 550 300 500 450 C 350 450 400 500 250 500 C 200 450 250 450 150 350 C 50 250 200 275 200 200 ";
}

.area7 {
    -fx-shape: "M 150 200 C 50 300 200 300 150 450 C 250 450 400 450 450 500 C 450 400 400 400 400 350 C 400 250 300 350 350 200 C 250 150 250 250 150 200 ";
}

.area8 {
    -fx-shape: "M 150 150 C 100 300 200 200 200 300 C 200 350 250 350 250 450 C 300 500 400 500 500 400 C 550 350 550 350 600 350 C 550 200 450 300 450 150 C 325 150 250 200 150 150 ";
}

.area9 {
    -fx-shape: "M 150 200 C 300 200 250 150 400 150 C 350 300 550 350 450 400 C 250 500 200 450 100 350 C 0 250 200 250 150 200 "
}

.area10 {
    -fx-shape: "M 700 200 C 650 150 500 150 400 150 C 350 300 550 350 450 400 C 550 350 600 300 750 350 C 750 300 700 250 700 200 "
}

.area11 {
    -fx-shape: "M 150 200 C 200 250 300 250 400 150 C 450 100 450 100 500 100 C 550 300 575 225 500 450 C 400 450 450 550 350 500 C 225 425 350 400 200 350 C 200 300 150 250 150 200 "
}

.tooltip {
    -fx-show-delay: 100ms;
}